@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root{
        /*Primary Color*/
        --soft-orange: hsl(35, 77%, 62%);
        --soft-red: hsl(5, 85%, 63%);

        /* Neutral Colors*/

        --off-white: hsl(36, 100%, 99%);
        --grayish-blue: hsl(233, 8%, 79%);
        --dark-graish-blue: hsl(236, 13%, 42%);
        --very-dark-blue: hsl(240, 100%, 5%);

        --font-size: 15px;
        --font-family: Inter;

}
*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
html{
        font-family: var(--font-family);
        font-size: var(--font-size);
}
body{
        width: 100%;
        height: 100vh;
        padding: 5rem 10rem;
}
.navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
}
ul{
        list-style: none;
}
li{
        display: inline;
        margin-left: 2rem;
}
a{
        color: var(--dark-graish-blue);
        text-decoration: none;
}


/* Main Content Section */
.container-1{
        width: 100%;
        position: relative;
}
.main-content-image-mobile{
        display: none;
}
.main-content{
        width: 67.5%;
        height: 100%;
        margin-right: 10%;
        position: relative;
        top: 0%;
}
.main-content-image-desktop{
        width: 100%;
}

.main-content-text{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
}
.main-content-text h1{
        font-size: 2.5rem;
        font-weight: 800;
        width: 50%;
}
.content-para-btn{
        width: 70%;
}
.content-para-btn p{
        line-height: 25px;
}
.content-para-btn button{
        background-color: var(--soft-red);
        color: var(--off-white);
        padding: 0.5rem 1.5rem;
        margin-top: 1rem;
        font-size: 15px;
        letter-spacing: 5px;
}
/* Side Bar New Section */

.new-section{
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        padding: 1.5rem;
        background-color: var(--very-dark-blue);
        color: var(--off-white);
}
