@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root{
        /*Primary Color*/
        --soft-orange: hsl(35, 77%, 62%);
        --soft-red: hsl(5, 85%, 63%);

        /* Neutral Colors*/

        --off-white: hsl(36, 100%, 99%);
        --grayish-blue: hsl(233, 8%, 79%);
        --dark-graish-blue: hsl(236, 13%, 42%);
        --very-dark-blue: hsl(240, 100%, 5%);

        --font-size: 15px;
        --font-family: Inter;

}

*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: solid 1px cyan;
}
html{
        font-family: var(--font-family);
        font-size: var(--font-size);
}
body{
        /* width: 100%; */
        height: 100%;
        padding: 3rem 3rem;
}
main,
nav,
footer{
        position: relative;
        max-width: 1440px ;
        margin: 0 auto;
}
nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
}
ul{
        list-style: none;
}
li{
        display: inline;
        margin-left: 2rem;
}
a{
        color: var(--dark-graish-blue);
        text-decoration: none;
}


/* Main Content Section */
main{
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
}
.main-left-image-mobile{
        display: none;
}
.main-left-image-desktop{
        width: 100%;
}

.main-left-text{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
}
.main-left-text h1{
        font-size: 3.2rem;
        font-weight: 800;
        width: 50%;
}
.main-left-para-btn{
        width: 50%;
        height: 100%;
}
.main-left-para-btn p{
        line-height: 25px;
}
.main-left-para-btn button{
        background-color: var(--soft-red);
        color: var(--off-white);
        padding: 0.8rem 1.5rem;
        margin-top: 3rem;
        font-size: 12px;
        letter-spacing: 5px;
        position: relative;
        bottom: 0;
}
/* Side Bar New Section */

aside{
        padding: 1.5rem;
        background-color: var(--very-dark-blue);
        color: var(--off-white);
}
aside h1{
        color: var(--soft-orange);
        font-size: 2rem;
        margin-bottom: 1.8rem;
}
article h2{
        font-size: 1.2rem;
        margin-bottom: 5px;
}
article{
        margin: 1rem 0 2rem 0;
}
article p{
        color: var(--grayish-blue);
        font-size: 0.8rem;
        line-height: 23px;
}
.info_cards hr{
        background-color: var(--grayish-blue);
        height: 1px;
}

/* Bottom card section */

.info-articles{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
}
